.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-md)
}

.container h5 {
    font-size: 20px;
}

.content {
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-xsm)
}