:root {
  --border-color: rgba(255, 255, 255, 0.16);
  --bg-color: rgba(46, 77, 210, 0.3);
  --bg-color-light: rgba(150, 180, 253, 0.7);
  --tranparent-text-color: rgba(255, 255, 255, 0.47);
  --red-btn: rgba(239, 36, 68, 0.7);
  --red-btn-hovered: rgb(239, 36, 68);
  --white-color: #fff;
  --space-xsm: 10px;
  --space-sm: 12px;
  --space-md: 16px;
  --space-lg: 20px;
  --space-mlg: 24px;
  --space-xlg: 32px;
  --space-ulg: 42px;
  --transition: "all 0.3s leanear"
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
  color: var(--white-color);
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
}

button, input {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

input::placeholder {
  color: var(--tranparent-text-color);
}

body {
  background-image: url("./assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  width: 90vw;
  height: 90vh;
  border-radius: var(--space-sm);
  background-color: var(--bg-color);
  backdrop-filter: blur(20px) saturate(180%);
  border: 1px solid var(--border-color);
  display: flex;
}

.lg-imgs {
  svg {
    width: var(--space-mlg);
    height: var(--space-mlg);
  }
}

.relative {
  position: relative;
}